<div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ id }}">
        <button class="h6 text-blue accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ id }}" aria-expanded="false" aria-controls="collapse-{{ id }}">
            Question catégorie 1 Lorem ipsum dolor sit amet ea itaque corrupti sit ?
        </button>
    </h2>
    <div id="collapse-{{ id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ id }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <p class="text-dark-grey fw-bold">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
                Ut nec urna fermentum, scelerisque nisi facilisis, suscipit ante.
                Nulla auctor nisl vel ipsum suscipit, ut iaculis libero posuere.
                Integer rhoncus nisi sed sapien auctor faucibus.
                Morbi placerat dui vitae faucibus lobortis.
                Suspendisse sed ex scelerisque, viverra dui vel, dignissim nisi.
                Integer maximus, est vitae ultrices mattis, nisl nisi varius enim, eget aliquet nibh tellus eget nisi.
                Integer iaculis vulputate faucibus. Duis porttitor neque eu euismod rhoncus.
            </p>
            <p>
                Aliquam erat volutpat.
                Morbi faucibus tempus maximus.
                Fusce et est consequat, faucibus massa eget, ultrices sapien.
                Integer auctor lobortis augue id mattis. Etiam consequat posuere eleifend.
                Donec at accumsan ante.
                Maecenas odio velit, convallis non vehicula vitae, efficitur eu sem.
                Fusce sed justo dolor.
                Pellentesque placerat imperdiet ante, ac pulvinar nisl volutpat et.
            </p>
        </div>
    </div>
</div>
