<section class="bg-white">
    <div class="container-lg py-4">
        <div class="breadcrumb">
            <a class="breadcrumb-home-link" href="/">
                <span class="fa fa-home" style="margin: 2px 0;"></span>
            </a>
            <span class="breadcrumb-chevron fas fa-chevron-right"></span>
            <a class="breadcrumb-link" href="/">
                Page
            </a>
            <span class="breadcrumb-chevron fas fa-chevron-right"></span>
            <span class="breadcrumb-current">Nom page active</span>
        </div>
    </div>
</section>
