<div class="card card-cas-comptoir border-0">
    <a href="/#" class="text-decoration-none">
        <img class="card-img-top" src="../assets/img/item-cas-comptoir.jpg" alt="Card image cap">
        <div class="card-body pb-0">
            <p class="card-title fw-bold text-black mt-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p class="card-text mt-3">
                Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
        </div>
        <div class="card-footer text-end">
            <i class="fas fa-circle-plus" style="color: #848E94;"></i>
        </div>
    </a>
</div>
