<div class="card card-cas-comptoir border-0">
    <a href="/cas-comptoir-detail.html" class="text-decoration-none">
        <img class="card-img-top" src="{{ img }}" alt="Card image cap" style="width: 100%; height: auto; max-height: 320px; object-fit: cover;">
        <div class="card-body pb-0">
            <h5>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h5>
        </div>
        <div class="card-footer text-end">
            <i class="fas fa-circle-plus"></i>
        </div>
    </a>
</div>
