<!-- card formation -->
<div class="card card-formation">
    <a href="/laboratoire-formation-detail.html">
        <!-- card overlay : visible on hover -->
        <div class="card-overlay">
            <span>
                <i class="fas fa-eye"></i>
                Voir cette formation
            </span>
        </div>
        <!-- card img -->
        <img class="card-img-top" src="../assets/img/item-cas-comptoir.jpg" alt="Card image cap">
        <!-- card body -->
        <div class="card-body p-4">
            <div class="d-flex align-items-center justify-content-between">
                <p class="card-title text-uppercase fw-bold text-black mb-0">
                    Laboratoire
                </p>
                <img src="../assets/img/logo-biogaran.png" width="50px" height="auto">
            </div>
            <p class="card-text text-black mt-3">
                2 formations
            </p>
        </div>
        <!-- card footer -->
        <div class="card-footer bg-white border-0 text-end pt-0">
            <i class="fas fa-circle-plus" style="font-size: 25px; color: #848E94;"></i>
        </div>
    </a>
</div>
