<div class="card card-pm">
    <div class="card-header text-center">
        Nom campagne / marque
    </div>
    <div class="card-body p-0" style="">
        <div class="p-4" style="border-bottom: 1px solid #E8E8E9;">
            <div class="row">
                <div class="col-6">
                    <p class="title text-black text-uppercase fw-bold mb-0">Date de début</p>
                    <p class="text-black mb-0">16/01/22</p>
                </div>
                <div class="col-6">
                    <p class="text-black text-uppercase fw-bold mb-0">Date de fin</p>
                    <p class="text-black mb-0">31/01/22</p>
                </div>
            </div>
        </div>
        <div class="p-4" style="border-bottom: 1px solid #E8E8E9;">
            <p class="text-black text-uppercase fw-bold mb-4">Supports de diffusion</p>
            <div class="row">
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-radio" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">radio</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-display" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">télévision</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-newspaper" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">presse</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-globe" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">internet</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-signs-post" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">réseaux sociaux</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-podcast" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">mobilier urbain</p>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-6 col-lg-4 col-xxl-3 mb-4 p-0">
                    <div class="text-center">
                        <i class="fas fa-box" style="color: #706F6F; font-size: 40px;"></i>
                        <p class="text-black mt-1 mb-0">échantillonnage</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4" style="border-bottom: 1px solid #E8E8E9;">
            <p class="text-black text-uppercase fw-bold mb-4">Documents disponibles</p>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="row align-items-center">
                        <div class="col-3 text-center pe-0">
                            <span class="" style="color: #706F6F; font-size: 40px;">
                                <i class="fas fa-file"></i>
                            </span>
                        </div>
                        <div class="col-9 ps-0">
                            <div class="row w-100">
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document1</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document2</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-3 text-center pe-0">
                            <span class="" style="color: #706F6F; font-size: 40px;">
                                <i class="fas fa-image"></i>
                            </span>
                        </div>
                        <div class="col-9 ps-0">
                            <div class="row w-100">
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document1</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document2</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-3 text-center pe-0">
                            <span class="" style="color: #706F6F; font-size: 40px;">
                                <i class="fas fa-video"></i>
                            </span>
                        </div>
                        <div class="col-9 ps-0">
                            <div class="row w-100">
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document1</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document2</a>
                                </div>
                                <div class="col-6 col-sm-4 col-md-6 col-xl-4">
                                    <a href="#" class="text-black">document3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center border-0 py-4">
        <button class="btn btn-sm btn-primary px-5">Voir les articles</button>
    </div>
</div>
