<div class="card card-pm">
    <a href="/plans-media-detail.html" class="text-decoration-none">
        <div class="position-relative">
            <div class="card-pm-hover position-absolute d-flex align-items-center justify-content-center w-100 h-100 bg-blue opacity-90" style="z-index: 10;">
                <span class="text-white">
                    <i class="fas fa-eye"></i>
                    Voir le plan média
                </span>
            </div>
            <div class="card-header text-center">
                Nom laboratoire
            </div>
            <div class="card-body w-100" style="padding: 2rem 0 2rem 0;">
                <div class="d-inline-block position-relative" style="left: 50%; transform: translateX(-50%);">
                    <div class="" style="margin-left: 4px;">
                        <i class="fa-solid fa-calendar fa-2x align-middle" style="margin-right: 20px;"></i>
                        <span class="text-black"><strong>15</strong> produits</span>
                    </div>
                    <div class="mt-3">
                        <i class="fa-solid fa-boxes-stacked fa-2x me-3 align-middle"></i>
                        <span class="text-black"><strong>3</strong> campagnes</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
