<!-- Footer -->
<footer class="footer" style="overflow: hidden;">
    <div class="container px-0">
        <div class="row mx-auto py-5 px-3 px-md-5" style="max-width: 1200px;">
            <a href="/" class="footer-logo mb-5">
                <img src="../assets/img/logo-cdp-blanc.png" alt="Centrale des Pharmaciens">
            </a>
            <div class="col-12 col-md-4 ps-0 mb-4 mt-5 mt-md-0 order-3 order-md-1">
                <ul class="nav flex-column">
                    <!-- <li class="nav-item mb-4">
                    </li> -->
                    <li class="nav-item mb-4">
                        <ul class="d-flex list-unstyled">
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <span class="fa-brands fa-twitter-square"></span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a href="#" class="d-flex align-items-center">
                                    <span class="fa-brands fa-facebook-square"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex align-items-center">
                                    <span class="fa-brands fa-linkedin"></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 d-inline">
                            <span class="fa fa-location-dot me-2"></span>
                            <span class="">Adresse</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0">
                            <span class="fa fa-phone me-2"></span>
                            <span class="">02 35 12 19 12</span>
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0">
                            <span class="fa fa-envelope me-2"></span>
                            <span class="">Nous écrire</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 ps-0 ps-md-5 order-1">
                <h5 class="text-uppercase mb-4" style="width: 180px; font-size: 16px; padding-bottom: 10px; border-bottom: 2px solid white;">Rubrique 1</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0">Lien page 1</a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="#" class="nav-link p-0">Lien page 2</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0">Lien page 3</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4 ps-0 ps-md-5 order-2">
                <h5 class="text-uppercase mb-4" style="width: 180px; font-size: 16px; padding-bottom: 10px; border-bottom: 2px solid white;">Rubrique 2</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0">Lien page 1</a>
                    </li>
                    <li class="nav-item my-1">
                        <a href="#" class="nav-link p-0">Lien page 2</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link p-0">Lien page 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black p-4">
        Tous droits réservés Goupe Astera / <a class="text-white" href="/mentions-legales.html">Mentions légales</a>
    </div>
</footer>
