<section class="container my-5">
    <h1 class="h3 l-spacing-lg mb-5">{{ title }}</h1>
    <div class="container pb-4">
        <div class="row align-items-end">
            <div class="intro-cover-text col-11 col-lg-6 order-2 order-lg-1 mx-auto mx-lg-0">
                <h5 class="lead" style="line-height: 30px;">
                    Lorem ipsum dolor sit amet.
                    Ea itaque corrupti sit ipsa dolorem ad illum omnis eum consequatur architecto est dolorem accusantium.
                    Et alias cumque aut voluptas cumque sit temporibus omnis aut aspernatur quibusdam ea alias soluta.internos deserunt.
                </h5>
                <img class="mt-4" src="../assets/img/divider/h-divider-blue.svg" alt="..." width="15%" height="auto">
            </div>
            <div class="intro-cover col-12 col-lg-9 order-1 order-lg-2"></div>
        </div>
    </div>
</section>
