<!-- TOP NAV -->
<div class="nav-top">
    <div class="container-lg d-flex align-items-center justify-content-end">
        <ul class="d-flex list-unstyled mb-0">
            <li>
                <a href="#">Boutique</a>
            </li>
            <span class="d-inlne-block mx-2">|</span>
            <li>
                <a href="#">Astera</a>
            </li>
        </ul>
        <ul class="d-flex list-unstyled mb-0 ps-4">
            <li class="me-2">
                <a href="#" class="d-flex align-items-center">
                    <span class="fa-brands fa-twitter-square"></span>
                </a>
            </li>
            <li class="me-2">
                <a href="#" class="d-flex align-items-center">
                    <span class="fa-brands fa-facebook-square"></span>
                </a>
            </li>
            <li>
                <a href="#" class="d-flex align-items-center">
                    <span class="fa-brands fa-linkedin"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- MAIN NAV -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-lg my-1">
        <a class="navbar-brand" href="/">
            <img src="../assets/img/logo-cdp-blanc.png" alt="Centrale des Pharmaciens">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-content">
            <ul id="nav-list" class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/plans-media.html">Plans média</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cas-comptoir.html">Cas comptoir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laboratoire.html">Laboratoire</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-uppercase" href="#" id="nav-dropdown-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Présentation
                    </a>
                    <ul class="dropdown-menu bg-grey p-4 rounded-0 border-0" aria-labelledby="nav-dropdown-1">
                        <li><a class="dropdown-item" href="/qui-sommes-nous.html">Qui sommes nous ?</a></li>
                        <li><a class="dropdown-item" href="#">Le pharmacien d'officine</a></li>
                        <li><a class="dropdown-item" href="#">Groupement</a></li>
                        <li><a class="dropdown-item" href="#">Solutions à l'industrie</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="/adhesion.html">Contact</a>
                </li>
                <li class="nav-item ms-5">
                    <a  href="#">
                        <i id="nav-search-icon" class="fas fa-search fa-2x" style="font-size: 24px; padding: 6px 0; color: #FFF;"></i>
                    </a>
                </li>
            </ul>
            <ul id="nav-search" class="navbar-nav ms-auto" style="width: 100%; max-width: 500px; display: none;">
                <li class="nav-item w-100">
                    <form action="" method="" class="header-navbar-search-form js-navbar-search hidden">
                        <i class="fas fa-search fa-2x header-navbar-search-form-icon"></i>
                        <input class="header-navbar-search-form-input" type="text" name="s" placeholder="Rechercher..." value="">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
