<section class="bg-grey" style="border: 1px solid #E8E8E9;">
    <div class="container-lg" style="padding-top: 2.4rem; padding-bottom: 2.4rem;">
        <form class="form main-search" action="" method="post">
            <p class="text-blue text-uppercase fw-bold d-block d-md-none" style="font-size: 21px;">Vous recherchez un article</p>
            <div class="input-group">
                <i class="fa fa-search" aria-hidden="true" style="color: #706f6f; margin: 14px 24px; position: absolute; z-index: 5; font-size: 1.4rem;"></i>
                <input class="form-control rounded-2" type="search" name="" value="" placeholder="Rechercher un article" aria-label="Rechercher" required>
                <!-- <button class="btn btn-secondary ms-0 ms-md-4" type="submit">Rechercher</button> -->
                <button class="btn btn-sm btn-secondary ms-0 ms-md-4 my-0" style="height: 50px; padding: 0 50px !important;" type="submit">Rechercher</button>
            </div>
        </form>
    </div>
</section>
